.formControl span {
    width: 100%;
    color: red;
}

.erorrForm {
    width: 94%;
    margin: 2px;
    border: 4px solid red;
}

.textarea {
    color: white;
    background-color: rgb(62, 60, 60);
    width: 100%;
}
/* .input{
    width: 100%;
    margin: 20%;
} */