.users{
    background-color: aquamarine;
}
.user{
    background-color: rgb(129, 129, 212);
    margin: 10px;
}
.users img{
    width: 70px;
}
.page{
    margin: 5px;
    background-color: antiquewhite;
}
.pages{
    display:inline-flex;
    width: 1000px;

}
.active{
    color:rgb(224, 11, 25);
    text-decoration: none;
  }