.friends {
    padding: 5%;
    grid-area: c;
    background-color: brown;
    color: aliceblue;
}
.position{
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
    background-color: rgb(54, 54, 65);
    text-align: center;
}
.mapContainer {
    width: 600px;
    height: 450px;
}

@media (max-width: 767px) {
    .mapContainer{
          width: 100%;
          height: 450px;
    }
}