.setting {
    text-align: center;
    grid-area: c;
    background-color: brown;
    color: aliceblue;
    margin: 10px;
    padding-bottom: 5px;
}
.updateAvatar{
    text-align: center;
    grid-area: c;
    background-color: brown;
    color: aliceblue;
    margin: 10px;
    padding-bottom: 5px;
}