.post {
      color: beige;
      background-color: black;
      margin-top: 5px;
      padding: 10px;

}

.post img {
      width: 80px;
      border-radius: 30px;
}
@media(max-width:800px) {
      .post img {
            width: 2rem;
            border-radius: 30px;
      }
    }
    
    @media(max-width:300px) {}