.nav {
  width: 150px;
  height: 500px;
  grid-area: n;
  background-color: rgb(235, 182, 151);
  padding: 20px;
  border-radius: 5px;
  
}
.navLink{
  color:rgb(15, 0, 0);
  text-decoration: none;
}
.active{
  color:rgb(234, 4, 255);
  text-decoration: none;
}