.wallpaper img{
    width: 100%;
}

.avatar img {
    border-radius: 0.5rem;
    width: 20%;
}

@media(max-width:600px) {
    .avatar img {
        width: 40%;
    }
    .profileInfo{
        font-size: 65%;
    }
  } 

/* @media(max-width:100px) {
    .avatar img {
        width: 7rem;
    }
}

@media(max-width:450px) {
    .avatar img {
        width: 40%;
    }
} */