.news {
    padding: 2%;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    /* grid-area: c;  */
    background-color: brown;
    color: aliceblue;
}
.div{
    font-style:italic;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    /* margin: 5px; */
}

.span{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    /* margin: 5px; */
}

.p1{
    font-weight: 500;
}
.post{
    border-radius: 0.5rem;
    font-weight: 500;
    margin:1%;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgb(95, 92, 92);
}
.post span{
    color:rgb(220, 95, 95)
}
