.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;

    grid-area: c;
    background-color: brown;
    color: aliceblue;
}

.active {
    color: gold;
    text-decoration: none;

}

.dialogsItems {
    /* padding: 10px; */
    color: aliceblue;
    text-decoration: none;

}

.massages {
    /* padding: 10px; */
}